*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño de el lenguaje */

.seleccion_idioma{
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    display: flex;
    background-color: black;
    color: aliceblue;
    font-size: 0.5rem;
    justify-content: end;
    justify-items: center;
    padding: 0.1rem;
}

.español,
.ingles{
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

.bandera_españa{
    margin-right: 0.7rem;
}
.español h2{
    margin-right: 0.5rem;
    font-family: "Monserrat" ;
}

.ingles h2{
    margin-right: 0.5rem;
    font-family: "Monserrat" ;
} 

.seleccion_idioma img{
    width: 1.2rem;
    height: 1.2rem;
}


/* Barra navegacion */


.lista{
    display: block;
    text-align: center;
    list-style: none;
    background-image: url('fondo_nav.jpg');
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    color: #000;
    
}

.lista a{
    text-decoration: none;
    

}

.item{
    color: white;
    display: inline;
    font-size: 1.1rem;
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    color: #000;
    font-family: "Monserrat" ;
}

.item:hover{
    background-color: #000;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.special{
    font-size: 1.5rem;
    color: #000;
}



/* Portada */


.portada{
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    position: relative;
    height: 70vh;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}

@keyframes shine{
    from{
        background-position: center 0;
    }
    to{
        background-position: center 200%;
    }
}

.texto h1{
    margin-top: 0;
    font-size: 4rem;
    font-family: "Monserrat", sans-serif;
    letter-spacing: 0.5vw;
    color: white;
    background-image: url('tropical_flowe.jpg');
    background-size: auto 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}

.texto h2{
    font-weight: normal;
    color: white;
    text-align: center;
    font-family: 'monospace';
}

.foto_perfil{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid white;
    display:inline;
    margin-top: 3.5rem;

}

 .logos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.logo{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem 0.5rem;
} 

.logos a:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    transition:all .2s ease;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    z-index: 5;
  }


/*Diseño de elaboracion de la primera seccion del 
pagina web */

.seccion_1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem; 
    width: 100%;
    background-image: url('fondogris.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion_izquierda{
    width: 30%;
    display:block;
    text-align: center;
    justify-content:center;
    align-items: center;
}

.seccion_izquierda h3{
    margin-top: 1rem;
    font-size: 3rem;
}

.seccion_izquierda p{
    margin-top: 1rem;
}

.seccion_centro{
    width: 30%;
    display:block;
    text-align: justify;
    justify-content:center;
    align-items: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0rem 3rem;
}

.seccion_centro h3{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

.boton_seccion_centro{
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 10rem;
    margin-top: 2rem;
    font-family: "Monserrat" ;
}

.boton_seccion_centro:hover{
    background-color: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.seccion_derecha{
    width: 30%;
    display:block;
    text-align: center;
    justify-content:center;
    align-items: center;
}
.seccion_izquierda img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

}

.seccion_derecha img{
    width: 100%;
    height: 20rem;
    
}

.seccion_centro p{
    font-family: 'monospace';
    color: rgb(85, 85, 85);
    font-family: "Monserrat" ;
}

/* segunda seccion de la pagina web */

.cards{
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
}

.seccion_2 h2{
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    text-align: center;
    font-size: 2rem;
    color:white;
}

.logo_segunda_seccion{
    width: 5rem;
    height: 5rem;
}

.es6{
    width: 4rem;
    height: 5rem;
}

.node{
    width: 7rem;
    height:5rem;
}

.css{
    height: 5rem;
}

.estrella{
    width: 1.2rem;
    height: 1rem;
}

.card{
    display: flex;
    padding: 1rem;
}

.primera_fila{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 2rem 3rem;
    
}

.segunda_fila{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 2rem 3rem;
    
    
}

.nivel{
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Monserrat" ;
}

.card_1,
.card_2,
.card_3,
.card_4,
.card_5,
.card_6{
    border: 1px solid #000;
    border-radius: 2rem;
    width: 40rem;
    margin: 0rem 2rem;
    padding: 1rem 0rem;
    background-color: rgb(255, 255, 255);
    
}

.cards h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Monserrat" ;
}

.texto{
    color: rgb(79, 79, 79);
    font-family: "Monserrat" ;
}

/* Tercera seccion */

.tercera_seccion{
    background-image: url('fondogris.jpg');
    padding: 0rem 7rem;
}

.tercera_seccion h2{
    margin: 0;
    /* width: 20rem; */
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-family: "Monserrat";
    font-size: 2rem;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.tercera_seccion p{
    text-align: center;
    font-family: "Monserrat";
    font-size: 1.2rem;
    padding-top: 1.3rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    

}

.card_tercera_seccion{
    position: relative;
    width: 17rem;
    height: 20rem;
    margin: 0rem 1rem;
    
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    transition: .05s;
    box-shadow: 0 10px 10px #0000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.face--front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 10px 10px #0000;
    border-radius: 1rem;
}

.face--front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.face--front h3{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: #022227;
    text-align: center;
    letter-spacing: 0.1rem;
}

.face--back{
    transform: perspective(600px) rotateY(180deg);
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 1, 0.7);
}

.card_tercera_seccion:hover .face--front{
    transform: perspective(600px) rotateY(180deg);
    transition: 1s;
}

.card_tercera_seccion:hover .face--back{
    transform: perspective(600px) rotateY(360deg);
    transition: 1s;
}

/* cuarta seccion, contacto */

.cuarta_seccion{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
}

.logo_contacto img{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.logo_contacto .imagen{
    margin-right: 1rem;
}

.cuarta_seccion{
    padding-bottom: 3rem;
}

.logo_contacto{
    display: flex;
    width: 19rem;
    margin: 1rem 0rem;
    border-radius: 50rem;
    padding: 0.5rem;
    background: #fff; 
    color: #000000; 
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.logo_contacto::after {
  content: "";
  background-color: rgb(96, 194, 255);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 1s;
  
}

.logo_contacto .text:hover{
    cursor: pointer;
    color: white;
}

.logo_contacto:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;

  }

.contenedor_logos .text{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.text a{
    text-decoration: none;
    color: #000;
}

.contenedor_logos h2{
    margin: 3rem 0rem;
}

.mapa{
    width: 100%;
}

footer{
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    color: white;
    text-align: center;
    padding: 1rem;
}


@media screen and (max-width: 390px  ){
    .portada{
        height: 100vh;
    }
    .portada .texto h1{
        text-align: center;
    }

    .lista{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    } 
    
    .lista .special{
        background-color: #022227;
        color: white;
    }

    .seccion_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .seccion_izquierda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .seccion_centro{
        width: 100%;
        margin-bottom: 1rem;
    }

    .seccion_derecha{
        width: 100%;
    }

    .seccion_2 .primera_fila{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .card_1,
    .card_2,
    .card_3{
        width: 90%;
    }

    .seccion_2 .segunda_fila{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .card_4,
    .card_5,
    .card_6{
        width: 90%;
    }

    .tercera_seccion{
        padding: 0;
    }

    .tercera_seccion p{
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card_tercera_seccion{
        margin: 1rem 0rem;
        height: 20rem;
    }
}

@media screen and (max-width: 480px){
    .portada{
        height: 100vh;
    }
    .portada .texto h1{
        text-align: center;
    }

    .lista{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    } 
    
    .lista .special{
        background-color: #022227;
        color: white;
    }

    .seccion_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .seccion_izquierda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .seccion_centro{
        width: 100%;
        margin-bottom: 1rem;
    }

    .seccion_derecha{
        width: 100%;
    }

    .seccion_2 .primera_fila{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .card_1,
    .card_2,
    .card_3{
        width: 90%;
    }

    .seccion_2 .segunda_fila{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .card_4,
    .card_5,
    .card_6{
        width: 90%;
    }

    .tercera_seccion{
        padding: 0;
    }

    .tercera_seccion p{
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card_tercera_seccion{
        margin: 1rem 0rem;
        height: 20rem;
    }
}

@media screen and (max-width: 540px){
    .portada{
        height: 100vh;
    }
    .portada .texto h1{
        text-align: center;
    }

    .lista{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    } 
    
    .lista .special{
        background-color: #022227;
        color: white;
    }

    .seccion_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .seccion_izquierda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .seccion_centro{
        width: 100%;
        margin-bottom: 1rem;
    }

    .seccion_derecha{
        width: 100%;
    }

    .seccion_2 .primera_fila{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .card_1,
    .card_2,
    .card_3{
        width: 90%;
    }

    .seccion_2 .segunda_fila{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .card_4,
    .card_5,
    .card_6{
        width: 90%;
    }

    .tercera_seccion{
        padding: 0;
    }

    .tercera_seccion p{
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card_tercera_seccion{
        margin: 1rem 0rem;
        height: 20rem;
    }
}
